[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
"flake8" = "*"
black = "==18.9b0"
pre-commit = "*"
pytest-django = "*"

[packages]
"e1839a8" = {path = ".", editable = true}
"psycopg2-binary" = "*"

[requires]
python_version = "3.6"
